#C files for online monitoring of linear use case: 

In this forder are the files in C of the linear use case with attached the synchronous observers.
The synchronous observers are only attached to the Attitude Control Loop, but can be equally attachedo to the Altitude Control Loop as well.

To run the simulation and the verification, the input .csv file obtained by the MATLAB script "specs_and_input.m" is necessary.
